@use '../utils/variables.scss';
@use '../utils/mixins' as *;


.contacts {
    background: url("../img/contacts/footer-bg-1440.png") no-repeat center/cover;
        @include respond-to(md) {
            background: url("../img/contacts/footer-bg-1024.png") no-repeat center/cover;
        }
        @include respond-to(sm) {
            background: url("../img/contacts/footer-bg-768.png") no-repeat center/cover;
        }
        @include respond-to(xs) {
            background: url("../img/contacts/footer-bg-375.png") no-repeat center/cover;
        }

    &__wrapper {
        padding: 119px 64px;
        padding-bottom: 170px;
        margin: 0 auto;
        max-width: 1440px;
        box-sizing: border-box;
        @include respond-to(md) {
        max-width: 764px;
        margin: 0 auto;
        padding: 104px 28px;
        padding-bottom: 176px;
        }
        @include respond-to(sm) {
        max-width: 530px;
        padding: 90px 0px;
        padding-bottom: 43px;
        }
        @include respond-to(xs) {
        padding: 58px 10px;
        max-width: 346px;
        padding-bottom: 117px;
        }
    }

    &__content {
        width: 100%;
    }
    &__headline {
        margin-bottom: 62px;
        margin-left: 130px;

            @include respond-to(md) {
                margin-bottom: 54px;
                margin-left: 0;
            }

            @include respond-to(sm) {
                margin-bottom: 48px;
            }
            @include respond-to(xs) {
                margin-bottom: 38px;
            }
        &__title {
        font-size: 36px;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-bold;
        color: variables.$color-main-white;
        margin-bottom: 12px;
        @include respond-to(md) {
            display: none;
        }


            &-mobile {
            display: none;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            font-size: 32px;
            color: variables.$color-main-white;
                @include respond-to(md) {
                    display: block;
                    margin-bottom: 12px;
                }
                @include respond-to(xs) {
                    font-size: 26px;
                    margin-bottom: 14px;
                }
            }
        }

        &__phrase {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-light;
        font-size: 14px;
        line-height: 1.71em;
        color: variables.$color-main-white;
        max-width: 390px;
        opacity: 0.6;

                @include respond-to(xs) {
                    max-width: 315px;
                }
        }
    }
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 68px;
        margin-left: 130px;

        @include respond-to(md) {
            margin-left: 0;
            margin-bottom: 58px;
        }
        @include respond-to(sm) {
            gap: 49px;
            flex-direction: column;
        }
    }

    &__navigation {

        display: flex;
        flex-direction: row;
        gap: 102px;

            @include respond-to(md) {
                gap: 40px
            }
            @include respond-to(sm) {
                gap: 35px;
            }
            @include respond-to(xs) {
                gap: 34px;
                flex-wrap: wrap;
                // width: 335px;
            }
        &__item {

        &:nth-child(1) {
            min-width: 133px;
                @include respond-to(xs) {
                    margin-right: 6px;
                }
        }

        &:nth-child(2) {
            min-width: 162px;
            @include respond-to(xs) {
                min-width: 0;
            }
        }

        &:nth-child(3) {
            min-width: 154px;
            @include respond-to(xs) {
                min-width: 0;
            }
        }
            &_city {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            color: variables.$color-main-white;
            font-size: 16px;
            line-height: 1.37em;
            margin-bottom: 18px;
                @include respond-to(xs) {
                    margin-bottom: 13px;
                }
            }
            &_number,&_geo {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-light;
            color: variables.$color-main-white;
            font-size: 11px;
            letter-spacing: 0.06em;
            }

            &_number {
            margin-bottom: 8px;
            }
            &_geo-secondline {
            display: block;
            margin-top: 8px;
            }

        }

    }

    &__socials-desktop {
        margin-top: 4px;
        margin-right: 131px;

        @include respond-to(md) {
        }
        @include respond-to(sm) {
        }
        @include respond-to(xs) {
            margin-left: 0px;
            margin-top: -14px;
        }

        &_mail {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            font-size: 11px;
            letter-spacing: 0.06em;
            color: variables.$color-main-white;
            margin-bottom: 19px;

            @include respond-to(sm) {
                margin-bottom: 10px;
            }
        }
        &-list {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
        li a {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            font-size: 11px;
            letter-spacing: 0.06em;
            color: variables.$color-main-white;
            text-decoration: none; 
        }
    }



        &__request-button {
        max-width: 183px;
        background-color: variables.$color-main-white;
        padding: 17px 48px;
        color: variables.$color-main-black;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;
        align-self: flex-end;
        margin-right: 156px;
        z-index: 4;
        cursor: pointer;
        position: relative;
        @include respond-to(md) {
            margin-left: 0;
            padding: 13px 48px;
        }
        @include respond-to(sm) {
        top: -103px;
        left: -7px;
        padding: 14px 48px;
        }

        @include respond-to(xs) {
        top: -15px;
        left: 0px;
        margin-left: 26px;
        margin-right: 0;
        }
    }

    &__button {
            margin-left: 131px;
            @include respond-to(md) {
                margin-left: 2px;
            }
    }
}



.contacts-page {
    min-height: 100vh;
    min-height: calc(var(--vh) * 100);
        .contacts__wrapper {
            padding: 182px 64px;
            padding-bottom: 170px;
                @include respond-to(md) {
                    padding: 209px 27px;
                    padding-bottom: 0;
                }
                @include respond-to(sm) {
                    padding: 344px 5px;
                    padding-bottom: 0;
                }
                @include respond-to(xs) {
                    padding: 95px 10px;
                }
        }
        .contacts__socials-desktop {
            margin-right: 131px;
                @include respond-to(md) {
                    margin-right: 0;
                }
        }
        .contacts__button {
                @include respond-to(md) {
                    margin-left: 0;
                    padding: 14px 48px;
                }
                @include respond-to(sm) {
                    margin-left: 8px;
                }
                @include respond-to(xs) {
                    margin-left: 7px;
                    top: -13px;
                    left: -7px;
                }
        }
        .contacts__inner {
            @include respond-to(md) {
                margin-left: 0;
            }
        }
        .contacts__headline {
            @include respond-to(sm) {
                margin-right: auto;
                max-width: 390px;
            }
        }
}

.contacts__navigation__item_number:focus,
.contacts__navigation__item_number:active {
  outline: none;
  color: variables.$color-main-white;
}
