@use '../utils/variables.scss';
@use '../utils/mixins' as *;

.footer {
    margin-top: -50px;
    height: 19px;
    position: relative;
        @include respond-to(md) {
            margin-top: -56px;
        }
        @include respond-to(sm) {
            margin-top: -45px;
        }
        @include respond-to(xs) {
            margin-top: -75px;
        }
    &__dark {
    color: variables.$color-main-white;
    }
    
    &__white {
        .footer__copyright {
            color: #828282;
        }
        .footer__phrase_left {
            color: #828282;
        }
        .footer__phrase_right {
            color: black;
        }
    }
    &__wrapper {
        height: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 64px;
        padding-right: 59px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
            @include respond-to(md) {
            padding-left: 58px;
            padding-right: 54px;
            }
            @include respond-to(sm) {
            padding-left: 48px;
            padding-right: 45px;
            }
            @include respond-to(xs) {
            padding-left: 26px;
            padding-right: 26px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            }
    }
    &__copyright {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-light;
        font-size: 12px;
        line-height: 1.52em;
        color: variables.$color-secondary-grey;
    }
    &__phrase {
        display: flex;
        flex-direction: row;
        gap: 26px;
            @include respond-to(md) {
                margin-bottom: 6px;
                gap: 31px;
            }
            &_left {
            color: variables.$color-secondary-grey;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-light;
            font-size: 12px;
            line-height: 1.52em;
            margin-top: 2px;
            }
            &_right {
            color: variables.$color-main-white;
            display: flex;
            flex-direction: column;
            min-width: 85px;
                span {
                    &:first-child {
                    font-family: variables.$font-family-third;
                    font-weight: variables.$font-weight-regular;
                    font-size: 12.4px;
                    line-height: 0.8em;
                    }

                    &:last-child {
                    font-family: variables.$font-family-second;
                    font-weight: variables.$font-weight-regular;
                    font-size: 15px;
                    text-align: right;
                    line-height: 0.8em;
                    padding-top: 1px;
                    padding-right: 6px;
                        @include respond-to(md) {
                            padding-right: 5px;
                        }
                        @include respond-to(xs) {
                            padding-right: 8px;
                        }
                    }
                }

            }
    }
}

