@use '../utils/variables.scss';
@use '../utils/mixins' as *;


.gallery {
    background-color: variables.$color-main-black;
    min-height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include respond-to(md) {
        max-width: 1024px;
        min-height: 618px;
    }
    @include respond-to(sm) {
        max-width: 768px;
        min-height: 570px;
    }

    @include respond-to(xxs) {
        max-width: 375px;
        min-height: 486px;
    }
    &__wrapper {
    padding: 180px 182px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;

        @include respond-to(md) {
        padding: 133px 269px;
        align-items: center;
        }
        @include respond-to(sm) {
        padding: 119px 141px;
        }
        @include respond-to(xxs) {
        padding: 95px 22px;
        }
    }

    .gallery__image-trail {
    position: absolute;
    pointer-events: none;
    will-change: transform, opacity;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95) rotate(0deg);
    transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .gallery__image-trail--visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(var(--rotation, 0deg));
    }


    &__phrase {
    font-size: 36px;
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-bold;
    line-height: 1.42em;
    color: variables.$color-main-white;
    max-width: 424px;
    z-index: 4;
    margin-bottom: 25px;
    margin-top: -7px;
    margin-left: 15px;

        @include respond-to(md) {
            font-size: 32px;
            width: 360px;
            text-align: center;
            margin-top: 0px;
            margin-left: 0px;
        }

        @include respond-to(sm) {
            margin-left: 0px;
        }

        @include respond-to(xxs) {
            font-size: 26px;
            width: 294px;
            text-align: left;
            margin-left: 5px;
            line-height: 31.5px;
            margin-bottom: 22px;
            margin-left: 2px;
        }
    }


    &__phrase-sm {
    font-size: 14px;
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-light;
    line-height: 1.71em;
    color: variables.$color-main-white;
    max-width: 339px;
    z-index: 4;
    align-self: flex-end;
    margin-bottom: 45px;
        @include respond-to(md) {
            max-width: 455px;
            text-align: center;
            margin-bottom: 67px;
            align-self: auto;
        }

        @include respond-to(sm) {
            margin-bottom: 51px;

        }
        @include respond-to(xxs) {
            max-width: 327px;
            text-align: left;
            margin-bottom: 40px;
        }

    }


    &__request-button {
        max-width: 183px;
        background-color: variables.$color-main-white;
        padding: 17px 48px;
        color: variables.$color-main-black;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;
        align-self: flex-end;
        margin-right: 156px;
        z-index: 4;
        cursor: pointer;
        position: relative;

        @include respond-to(md) {
            margin-right: 137px;
            padding: 14px 48px;
            align-self: auto;
            margin-right: 0;
        }
        @include respond-to(xxs) {
            margin-right: 145px;
        }
    }


    &__projects {
        background-color: white;
            @include respond-to(md) {
                min-height: 583px;
            }
            @include respond-to(sm) {
                min-height: 535px;
            }
            @include respond-to(xxs) {
                min-height: 505px;
            }
        .gallery__wrapper {

                @include respond-to(md) {
                    padding: 56px 56px;
                }
                @include respond-to(sm) {
                    padding: 54px 48px;
                }
                @include respond-to(xxs) {
                    padding: 50px 24px;
                }
        }
        .gallery__phrase {
            color: variables.$color-main-black;
                @include respond-to(sm) {
                    width: 370px;
                }
                @include respond-to(xxs) {
                    width: 290px;
                    margin-bottom: 11px;
                    margin-right: auto;
                }
        }
        .gallery__phrase-sm {
            color: variables.$color-main-black;
        }
        .gallery__request-button {
            border: 1px solid #080808;
            padding: 14px 47px;
        }
    }

    &__one-project {
        .gallery__phrase {
            @include respond-to(xxs) {
                margin-left: -33px;
            }
        }
    }
}
