@use '../utils/variables.scss';
@use '../utils/mixins' as *;

.mobile-menu {
    position: fixed;
    width: 100vw;
    // height: calc(100vh - var(--header-height, 0px));
    height: calc(var(--vh) * 100 - var(--header-height, 0px));
    max-height: calc(var(--vh) * 100 - var(--header-height, 0px));
    background-color: variables.$color-main-black;
    transform: translateX(-110%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s linear 0.4s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overscroll-behavior: contain;
    .header.modal-open & {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s;
    }
    

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1; 
    }
    &__list {
        margin-left: 211px;
        display: flex;
        flex-direction: column;
        gap: 34px;
            @include respond-to(sm) {
            margin-left: 188px;
            }
            @include respond-to(xs) {
            margin-left: 0;
            gap: 27px;
            align-items: center;
            }
    }
    &__item a {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-bold;
        font-size: 32px;
        opacity: 0.5;
        color: variables.$color-main-white;
        text-decoration: none;
            @include respond-to(xs) {
                font-size: 26px;
            }
        &.active {
        opacity: 1;
        }
    }
    &__request-btn {
        display: none;
        border-width: 1px;
        border-style: solid;
        border-color: variables.$color-secondary-grey;
        background-color: transparent;
        padding: 14px 35px;
        color: variables.$color-main-white;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;
            @include respond-to(xs) {
                display: block;
                margin: 0 auto;
                margin-top: 50px;
            }
    }
}