@use "../utils/variables.scss" as variables;
@use "../utils/mixins" as *;

.pop-up-modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 8, 8, 0.75);
  z-index: 100;
  transition: opacity 0.4s ease;

  &.active {
    display: flex;
    opacity: 1;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__content {
    position: relative;
    background-color: #F2F2F2;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .04);
    color: variables.$color-main-white;
    padding: 56px 124px calc(56px + var(--extra-padding, 0px)); 
    max-width: 800px;
    max-height: 75vh;
    width: 100%;
    z-index: 2;
    font-family: variables.$font-family-main;
    overflow-y: auto;
    overscroll-behavior: contain;
    @include respond-to(md) {
        padding: 31px 50px calc(26px + var(--extra-padding, 0px));
        max-width: 706px;
        // max-height: 609px;
        // height: 100%;
    }
    @include respond-to(sm) {
        padding: 34px 41px calc(34px + var(--extra-padding, 0px));
        max-width: 62.3%;
        // max-height: 862px;

    }
    @include respond-to(xs) {
        background-color: #080808;
        padding: 0 0 calc(0px + var(--extra-padding, 0px));
        max-width: 88%;
        // max-height: 892px;

    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    color: variables.$color-main-black;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
        @include respond-to(md) {
        // top: 6px;
        // right: 17px;
        top: 50px;
        right: 70px;
        &:active {
          transform: rotate(90deg);
        }
        }
        @include respond-to(xs) {
        top: 16px;
        right: 16px;
        }
      @include respond-to(lg) {
        &:hover {
          transform: rotate(90deg);
        }
      }

  }


  .form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 87%;

    &__inner {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
        &:first-child {
            padding: 43px 70px 46px;
                @include respond-to(md) {
                    padding: 47px 52px 42px;
                }
                @include respond-to(sm) {
                    padding: 46px 55px 43px;
                }
                @include respond-to(xs) {
                    padding: 26px 25px 43px;
                }
        }
        &:last-child {
            padding: 43px 70px 46px;
                @include respond-to(md) {
                padding: 47px 52px 42px;
                }
                @include respond-to(sm) {
                padding: 47px 55px 42px;
                padding-right: 62px;
                }
                @include respond-to(xs) {
                padding: 41px 25px 40px;
                padding-right: 30px;
                }
        }
        .section-2 {
        gap: 0;
        }
    }
    &__section {
      display: flex;
      flex-direction: column;
      gap: 24px;
        @include respond-to(md) {
            gap: 28px;
        }
    }
    &__title {
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-bold;
    font-size: 22px;
    line-height: 1.27em;
    text-align: center;
    color: variables.$color-modal-main;
        @include respond-to(md) {
            display: none;
        }
      &:not(:first-of-type) {
        display: none; 
        @include respond-to(md) {
            display: block;
            font-size: 24px;
            line-height: 1em;
        }
        @include respond-to(xs) {
            max-width: 190px;
            margin-left: auto;
            margin-right: 42px;
        }
      }

      @include respond-to(xs) {
        font-size: 20px;
      }
    }
    &__subtitle {
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-bold;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-align: center;
    color: variables.$color-modal-main;
    text-align: left;
    margin-bottom: 22px;

    }
    &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    column-gap: 37px;
        @include respond-to(md) {
        gap: 32px;
        column-gap: 32px;
        }
        @include respond-to(sm) {
        grid-template-columns: 1fr;
        gap: 34px;
            .form__field--email {
                grid-row: 4;
            }

            .form__field--city {
                grid-row: 5;
            }
        }
    }

    &__field {
      position: relative;
      display: flex;
      flex-direction: column;

      input,
      select {
        color: variables.$color-modal-main;
        opacity: 1;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;
        width: 100%;
        padding: 7px 0px;
        border: none;
        border-bottom: 1px solid #D6D6D64D;
        outline: none;
        transition: border-color 0.3s ease;
            &:focus {
            border-color: variables.$color-modal-main;
            }

        &::placeholder {
        color: variables.$color-modal-main;
        opacity: 1;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;

        }
      }
      
      &_select {
        position: relative;
        cursor: pointer;
            select {
            background-color: white;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 30px;
        }
        &::after {
            content: "";
            position: absolute;
            top: var(--arrow-top, 55%);
            right: 4px;
            width: 4.5px;
            height: 4.5px;
            border-left: 1.2px solid #313131;
            border-bottom: 1.2px solid #313131;
            transform: translateY(-50%) rotate(-45deg);
            pointer-events: none;
        }
      }
        &_comment {
            grid-column: 1 / -1;
        }
      label {
        display: none;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        pointer-events: none;
        transition: all 0.3s ease;
      }


      .form__error {
        display: none;
        color: #ff8080;
        font-size: 12px;
        margin-top: 4px;

        &.visible {
          display: block;
        }
      }
    }

    &__radio-group {
    display: grid;
    grid-template-columns: .47fr repeat(6, .8fr) .47fr;
    margin-bottom: 48px;
    position: relative;
    max-height: 40px;
        @include respond-to(md) {
            margin-bottom: 32px;
        }
        @include respond-to(sm) {
            grid-template-columns: 0.5fr repeat(2, 0.9fr) 0.5fr;
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 0;
            row-gap: 30px;
            max-height: none;
        }
        @include respond-to(xs) {
            row-gap: 24px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: 77%;
            background-color: #afb0b2;
                @include respond-to(sm) {
                    top: 27%;
                }
        }
        &::after {
                @include respond-to(sm) {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #afb0b2;
                bottom: 8%;
                z-index: 2;
                }
        }
        &__wrapper {
            position: relative;
                @include respond-to(md) {
                    width: 101.5%;
                }
                @include respond-to(sm) {
                    margin-bottom: 32px;
                }
                @include respond-to(xs) {
                    margin-bottom: 20px;
                }
            .form__error {
            display: none;
            position: absolute;
            top: -37px;
            left: 85px;
            font-size: 11px;
            color: red;
                &.visible {
                display: block;
                }
            }
        }
      input[type="radio"]:focus {
        outline: none;
      }
      .form__radio {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-self: center;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        &:first-child {
            justify-self: start;
            align-items: flex-start;
        }
        &:nth-child(4) {
            @include respond-to(sm) {
            justify-self: end;
            align-items: flex-end;
            }
        }
        &:nth-child(5) {
            @include respond-to(sm) {
            justify-self: start;
            align-items: flex-start;
            }
        }
        &:last-child {
            justify-self: end;
            align-items: flex-end;
            .form__radio-label {
                margin-right: -5px;
                @include respond-to(sm) {
                    margin-right: 0;
                }
            }
        }

        input {
          display: none;
        }

        .form__radio-label {
        font-family: variables.$font-family-main;
        font-weight: 500;
        font-size: 9px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #3A3E4B73;
        outline: none;
          &:focus {
            outline: none;
          }
        }

        .form__radio-icon {
          position: relative;
          width: 18px;
          height: 18px;
          border-radius: 100%;
          cursor: pointer;
          background-color: #F7F7F6;
          transition: background-color 0.3s ease;
            &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #AFB0B2;
            }
        }

        input:checked + .form__radio-label + .form__radio-icon {
          background-color: variables.$color-main-black;
          caret-color: transparent;
          &::after {
            background-color: white;
          }
        }
      }

    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 27px;
        @include respond-to(md) {
            justify-content: center;
            margin-bottom: 0;
        }
    }

    &__file {
      display: flex;
      align-items: center;
      gap: 16px;
        @include respond-to(md) {
            display: none;
        }
      input[type="file"] {
        display: none;
      }

      label {
        width: 40px;
        height: 40px;
        border: 1px solid #3A3E4B14;
        background-color:#F7F7F6;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: -1px;
        margin-top: 4px;
        .form__add-plus {
          font-size: 24px;
          color: variables.$color-modal-main;
        }
        @include respond-to(lg) {
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        @include respond-to(md) {
          &:active {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }

      &-info {
        margin-top: 1px;
        margin-left: -6px;
        p {
            color: variables.$color-modal-main;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            font-size: 11px;
            letter-spacing: 0.06em;
          &:last-child {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 9px;
            letter-spacing: 0.06em;
            color: #3A3E4B73;
          }
        }
      }
    }

    &__submit {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-semibold;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: variables.$color-modal-main;
        border: none;
        margin-top: 4px;
        padding: 14px 48px;
        cursor: pointer;
        transition: all 0.3s ease;
            @include respond-to(sm) {
                margin-left: 7px;
            }
            @include respond-to(lg) {
              &:hover {
                opacity: 0.7;
              }
            }
            @include respond-to(md) {
              &:active {
                opacity: 0.7;
              }
            }
    }

    &__afterword {
        font-family: variables.$font-family-forth;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.41em;
        letter-spacing: 0.06em;
        text-align: center;
        color: #AFB0B2;
        max-width: 600px;
        margin: 0 auto;
            @include respond-to(md) {
                display: none;
            }
      span {
        text-decoration: underline;
      }
    }
  }
}
