@use '../../utils/variables.scss';
@use '../../utils/mixins' as *;


.projects {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 1500px;
        @include respond-to(md) {
            max-width: 1024px;
        }
        @include respond-to(sm) {
            max-width: 768px;
        }
        @include respond-to(xs) {
            max-width: 375px;
        }
    &__wrapper {
        padding: 180px 64px 140px;
        padding-right: 64px;
        padding-bottom: 0;
            @include respond-to(md) {
                padding: 147px 56px 0;
                padding-right: 55px;
            }
            @include respond-to(sm) {
                padding: 138px 48px 0;
                padding-right: 48px;
            }
            @include respond-to(xs) {
                padding: 117px 24px 0;
                padding-right: 24px;
            }
    }


    &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 133px;
    margin-bottom: 174px;
    justify-content: space-between;
    max-height: 100px;
            @include respond-to(md) {
            padding-left: 105px;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 180px;
            }
            @include respond-to(sm) {
                margin-bottom: 172px;
                padding-left: 77px;
            }
            @include respond-to(xs) {
                padding-left: 0px;
                margin-bottom: 162px;
            }
            &-title {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            font-size: 36px;
            margin-right: 0px;
                @include respond-to(md) {
                    margin-right: 90px;
                    font-size: 32px;
                    margin-bottom: 14px;
                }
                @include respond-to(xs) {
                    font-size: 26px;
                }
            }
            &__filters {
            display: flex;
            flex-direction: row;
            gap: 33px;
            max-height: 14px;
                @include respond-to(md) {
                    gap: 34px;
                }
                @include respond-to(xs) {
                flex-direction: column;
                align-items: flex-start;
                display: block; 
                    &-btn {
                    display: none;
                    }
                }

                &-btn {
                position: relative;
                background-color: transparent;
                font-family: variables.$font-family-main;
                font-weight: variables.$font-weight-semibold;
                font-size: 11px;
                letter-spacing: 0.06em;
                cursor: pointer;
                color: #828282;
                    @include respond-to(md) {
                        letter-spacing: normal;
                    }
                    @include respond-to(xs) {
                        display: none;
                    }
                }
                .active {
                    color: variables.$color-main-black;
                }
                .active::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #3A3E4B;
                position: absolute;
                bottom: -4px;
                left: 0;
                }

                &-select-wrapper {
                    position: relative;
                    display: none;
                    width: 129px;

                    @include respond-to(xs) {
                    display: block;
                    }

                    &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    transform: translateY(-50%) rotate(45deg);
                    top: 45%;
                    right: 14px;
                    pointer-events: none;
                    }
                }
                &-select {
                display: none;
                padding: 6px 12px;
                font-family: variables.$font-family-main;
                font-weight: variables.$font-weight-semibold;
                font-size: 11px;
                letter-spacing: 0.06em;
                border: 1px solid #C4C4C4;
                border-radius: 999px;
                background-color: white;
                color: #333;
                appearance: none;
                cursor: pointer;
                width: 129px;
                    @include respond-to(xs) {
                    display: block;
                    }
                }
                &-phrase {
                    font-family: variables.$font-family-main;
                    font-weight: variables.$font-weight-light;
                    font-size: 14px;
                    line-height: 1.71em;
                    color: variables.$color-main-black;
                    width: 100%;
                    max-width: 449px;
                    margin-bottom: 32px;
                        @include respond-to(md) {
                            margin-bottom: 32px;
                        }
                        @include respond-to(sm) {
                            max-width: 501px;
                            margin-bottom: 33px;
                        }
                        @include respond-to(xs) {
                            max-width: 327px;
                            margin-bottom: 27px;
                        }
                    }
                &-container {
                    margin-top: 72px;
                    margin-right: 135px;
                        @include respond-to(md) {
                            margin-top: 0;
                            margin-right: 0;
                        }
                }
            }

    }


    &__news {
    &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 8px;
    justify-items: center;
    
        @include respond-to(md) {
            gap: 6px;
            column-gap: 8px;
            margin-bottom: 63px;
        }

        @include respond-to(sm) {
            gap: 6px;
            grid-template-columns: 1fr;
            margin-bottom: 46px;
        }

        @include respond-to(xs) {
            grid-template-columns: 1fr;
            gap: 6px;
            margin-bottom: 46px;
        }
    }
        &-container-single {
        width: 100%;
        grid-column: span 1;

        .projects__project-room__phrase {
            @include respond-to(xs) {
            padding: 24px;
            }
        }
            &-big {
            width: 100%;
            grid-column: 1 / -1;

            .project-room__container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @include respond-to(sm) {
                flex-direction: column;
                }
            }

            .project-room-btn {
                margin-right: 118px;
                margin-top: 34px;

                @include respond-to(sm) {
                max-width: 106px;
                margin-right: 0;
                margin-top: 24px;
                }

                @include respond-to(xs) {
                margin-top: 8px;
                }
            }

            .project-room__title-room {
                margin-bottom: 0;
            }

            .projects__project-room__phrase {
                @include respond-to(xs) {
                padding: 24px;
                }
            }
        }
        }
    }


    &__project-room__phrase {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 10px;
            line-height: 1.71em;
            color: variables.$color-main-white;
            padding: 32px;
    }



    &__news-image img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.projects__news-container-single,
.projects__news-container-single-big {
cursor: pointer;
  opacity: 0;
  overflow: hidden;
  transform: translateY(50px) scale(0.95);
  transition: 
    opacity 0.3s ease-out, 
    transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.projects__news-container-single.show,
.projects__news-container-single-big.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

