@use '../../utils/variables.scss';
@use '../../utils/mixins' as *;


.about-contacts {
    padding: 140px 64px 190px;
      @include respond-to(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      }

    &__title {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-bold;
        font-size: 36px;
        line-height: 1.42em;
        max-width: 426px;
        padding-left: 135px;
        margin-bottom: 119px;
          @include respond-to(md) {
            padding-left: 0;
            margin-bottom: 50px;
          }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
          @include respond-to(md) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
          }
    }

  &__form {
    padding-left: 135px;
    position: relative;
    max-width: 382px;
    width: 382px;
      @include respond-to(md) {
        padding-left: 0;
      }
      @include respond-to(xs) {
        width: 270px;
      }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #515151;
    position: relative;
  }

  &__input {
    flex: 1;
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-light;
    font-size: 20px;
    line-height: 1.71em;
    background: transparent;
    border: none;
    outline: none;
  }

  &__submit {
    flex-shrink: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    @include respond-from(lg) {
      &:hover {
        transform: translateX(2px);
      }
    }
    @include respond-to(md) {
      &:active {
        transform: translateX(2px);
      }
    }
  }

    &__phrase {
        max-width: 366px;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-light;
        font-size: 14px;
        line-height: 1.71em;
        margin-bottom: 20px;
          @include respond-to(xs) {
            max-width: 270px;
          }
    }

    &__socials {

        &-container {
            padding-right: 149px;
              @include respond-to(md) {
                padding-right: 0;
              }
              @include respond-to(xs) {
                padding-left: 20px;
                padding-right: 20px;
              }
        }
        &-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-mail {
          font-size: 13px;
          letter-spacing: 0.06em;
        }
        &-mail,
        &-list {
            display: flex;
            flex-direction: row;
            gap: 16px;
            li a {
            color: variables.$color-main-black;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            font-size: 11px;
            letter-spacing: .06em;
            text-decoration: none;
            }
        }
    }

}