<section class="contacts @@class">
    <div class="contacts__wrapper">
        <div class="contacts__content">

            <div class="contacts__headline">
                <h2 class="contacts__headline__title">Drop us a line</h2>
                <h2 class="contacts__headline__title-mobile">Get in touch</h2>
                <p class="contacts__headline__phrase">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
            </div>

            <div class="contacts__inner">
                <ul class="contacts__navigation">
                    <li class="contacts__navigation__item">
                        <p class="contacts__navigation__item_city">Kyiv</p>
                        <p class="contacts__navigation__item_number">(209) 555-0104</p>
                        <p class="contacts__navigation__item_geo">6391 Elgin St. Celina,<br>
                        <span class="contacts__navigation__item_geo-secondline">Delaware 10299</span>
                        </p>
                    </li>
                    <li class="contacts__navigation__item">
                        <p class="contacts__navigation__item_city">Lviv</p>
                        <p class="contacts__navigation__item_number">(209) 555-0104</p>
                        <p class="contacts__navigation__item_geo">6391 Elgin St. Celina,<br>
                        <span class="contacts__navigation__item_geo-secondline">Delaware 10299</span>
                        </p>
                    </li>
                    <li class="contacts__navigation__item">
                        <p class="contacts__navigation__item_city">Kharkiv</p>
                        <p class="contacts__navigation__item_number">(209) 555-0104</p>
                        <p class="contacts__navigation__item_geo">6391 Elgin St. Celina,<br>
                        <span class="contacts__navigation__item_geo-secondline">Delaware 10299</span>
                        </p>
                    </li>
                </ul>

                <div class="contacts__socials-desktop">
                    <p class="contacts__socials-desktop_mail">info@gmail.com</p>
                    <ul class="contacts__socials-desktop-list">
                    <li>
                        <a href="https://www.facebook.com/"
                        target="_blank"
                        rel="noopener noreferrer">
                            Fb
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/"
                        target="_blank"
                        rel="noopener noreferrer">
                            In
                        </a>
                    </li>

                    <li>
                        <a href="https://www.behance.net/"
                        target="_blank"
                        rel="noopener noreferrer">
                            Be
                        </a>
                    </li>
                </ul>
                </div>

            </div>


            @@include('./request-btn.html', {
            "class": "contacts__request-button contacts__button request-button",
            "phrase": "Make request"
            })

        </div>
    </div>

</section>