<section class="gallery @@class">

    <div class="gallery__wrapper">
        <p class="gallery__phrase">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <p class="gallery__phrase-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.</p>
        @@include('./request-btn.html', {
        "class": "gallery__request-button request-button",
        "phrase": "Make request"
        })
    </div>

</section>