<header class="header @@class">
    <div class="header__wrapper">
        <a class="header__logo"
           href="index.html">
            Logo
        </a>
        
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="projects.html">Projects</a></li>
                <li class="header__nav-item"><a href="about.html">About us</a></li>
                <li class="header__nav-item"><a href="news.html">Blog</a></li>
                <li class="header__nav-item"><a href="contacts.html">Contacts</a></li>
            </ul>

            <div class="header__burger-container">
                <button type="button" aria-label="Open menu" class="header__burger-icon"></button>
                <p class="header__burger-phrase">Menu</p>
            </div>

        
            <div class="header__nav-actions">
                <button type="button" class="header__lang-select"> En </button>
                @@include('./request-btn.html', {
                "class": "header__request-button",
                "phrase": "Send Request",
                "id": "popup-request"
                })


            </div>

        </nav>
    </div>
    @@include('./mobile-menu.html')
</header>