<section class="lorem @@class">
    <div class="lorem__wrapper">

        <div class="lorem__content">
            <h2 class="lorem__title">@lorem.ipsum</h2>
            <h2 class="lorem__title-mobile">@hilight.design</h2>
            <p class="lorem__phrase">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
            <p class="lorem__phrase-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
        </div>




       

    </div>
 <div class="lorem__picture picture-1">
            {{> img-media
            basePath='./img/lorem/lorem-photo1'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 375px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-2">
            {{> img-media
            basePath='./img/lorem/lorem-photo2'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 575px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-3">
            {{> img-media
            basePath='./img/lorem/lorem-photo3'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 575px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-4">
            {{> img-media
            basePath='./img/lorem/lorem-photo4'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 375px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-5">
            {{> img-media
            basePath='./img/lorem/lorem-photo5'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 375px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-6">
            {{> img-media
            basePath='./img/lorem/lorem-photo6'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 575px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-7">
            {{> img-media
            basePath='./img/lorem/lorem-photo7'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 575px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>

        <div class="lorem__picture picture-8">
            {{> img-media
            basePath='./img/lorem/lorem-photo8'
            sizes=(array 375 768 1024 1440)
            mediaQueries=(array '(max-width: 575px)' '(max-width: 768px)' '(max-width: 1024px)' '(min-width: 1025px)')
            lastSize=1440
            imgType='png'
            loading='eager'
            alt='room example'
            }}
        </div>
</section>