<div class="mobile-menu">

    <div class="mobile-menu__content">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="index.html">Home</a></li>
            <li class="mobile-menu__item"><a href="projects.html">Projects</a></li>
            <li class="mobile-menu__item"><a href="about.html">About us</a></li>
            <li class="mobile-menu__item"><a href="news.html">Blog</a></li>
            <li class="mobile-menu__item"><a href="contacts.html">Contacts</a></li>
        </ul>
        <button type="button" class="mobile-menu__request-btn request-button">Send Request</button>
    </div>


    @@include('./contact-block.html', {"class":"contact-block__mobile-menu"})
</div>