<div class="swiper-navigation @@class">

    <svg class="swiper-navigation__arrow swiper-navigation__arrow_left" width="6" height="10">
      <use href="#icon-arrow-left"></use>
    </svg>

  <span class="swiper-navigation__slide-current"></span>

  <span class="swiper-navigation__progressbar">
    <span class="swiper-navigation__fill-progressbar"></span>
  </span>

  <span class="swiper-navigation__slide-total"></span>

    <svg class="swiper-navigation__arrow swiper-navigation__arrow_right" width="6" height="10">
      <use href="#icon-arrow-left"></use>
    </svg>

</div>
