<section class="lorem @@class">
    <div class="lorem__wrapper">

        <div class="lorem__content">
            <h2 class="lorem__title">@lorem.ipsum</h2>
            <h2 class="lorem__title-mobile">@hilight.design</h2>
            <p class="lorem__phrase">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
            <p class="lorem__phrase-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
        </div>




       

    </div>
 <div class="lorem__picture picture-1">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 375px)"
                  srcset="/img/lorem/lorem-photo1-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo1-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo1-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo1-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo1-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-2">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 575px)"
                  srcset="/img/lorem/lorem-photo2-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo2-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo2-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo2-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo2-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-3">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 575px)"
                  srcset="/img/lorem/lorem-photo3-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo3-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo3-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo3-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo3-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-4">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 375px)"
                  srcset="/img/lorem/lorem-photo4-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo4-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo4-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo4-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo4-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-5">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 375px)"
                  srcset="/img/lorem/lorem-photo5-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo5-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo5-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo5-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo5-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-6">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 575px)"
                  srcset="/img/lorem/lorem-photo6-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo6-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo6-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo6-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo6-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-7">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 575px)"
                  srcset="/img/lorem/lorem-photo7-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo7-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo7-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo7-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo7-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>

        <div class="lorem__picture picture-8">
            <picture class="">
                <source
                  type="image/png"
                  media="(max-width: 575px)"
                  srcset="/img/lorem/lorem-photo8-375.png" />
                <source
                  type="image/png"
                  media="(max-width: 768px)"
                  srcset="/img/lorem/lorem-photo8-768.png" />
                <source
                  type="image/png"
                  media="(max-width: 1024px)"
                  srcset="/img/lorem/lorem-photo8-1024.png" />
                <source
                  type="image/png"
                  media="(min-width: 1025px)"
                  srcset="/img/lorem/lorem-photo8-1440.png" />
            
              <img
                src="/img/lorem/lorem-photo8-1440.png"
                alt="room example"
                loading="eager" />
            </picture>
        </div>
</section>