<div class="mobile-menu">

    <div class="mobile-menu__content">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="index.html">Home</a></li>
            <li class="mobile-menu__item"><a href="projects.html">Projects</a></li>
            <li class="mobile-menu__item"><a href="about.html">About us</a></li>
            <li class="mobile-menu__item"><a href="news.html">Blog</a></li>
            <li class="mobile-menu__item"><a href="contacts.html">Contacts</a></li>
        </ul>
        <button type="button" class="mobile-menu__request-btn request-button">Send Request</button>
    </div>


    <div class="contact-block contact-block__mobile-menu">
    <div class="contact-block__socials">
        <ul class="contact-block__socials-list">
            <li>
                <a href="https://www.facebook.com/"
                   target="_blank"
                   rel="noopener noreferrer">
                    Fb
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/"
                   target="_blank"
                   rel="noopener noreferrer">
                    In
                </a>
            </li>

            <li>
                <a href="https://www.behance.net/"
                   target="_blank"
                   rel="noopener noreferrer">
                    Be
                </a>
            </li>
        </ul>
    </div>

    <div class="contact-block__select">
        <label for="city"></label>

        <select name="city"
                id="city">
            <option class="contact-block__select-option"
                    value="Berlin">
                Berlin
            </option>

            <option class="contact-block__select-option"
                    value="Tokio">
                Tokio
            </option>

            <option class="contact-block__select-option"
                    value="Paris">
                Paris
            </option>
        </select>
    </div>

    <div class="contact-block__contacts">
        <ul class="contact-block__list-data contact-block__list-data_full">
            <li>
                <a>
                    +380983527547
                </a>
            </li>

            <li>
                <a>
                    E: info@gmail.com
                </a>
            </li>
        </ul>

        <ul class="contact-block__list-data contact-block__list-data_small">
            <li>
                <a>
                    +380935705222
                </a>
            </li>

            <li>
                <a>
                    info@hi-light.pl
                </a>
            </li>
        </ul>
    </div>
</div>
</div>