<div class="pop-up-success">
  <div class="pop-up-success__overlay"></div>
  <div class="pop-up-success__content">
    <h3 class="pop-up-success__title">
      Thank you for your message!
    </h3>
    <p class="pop-up-success__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
    </p>
    <button class="pop-up-success__btn">Send again</button>
  </div>
</div>
