<div class="project-room @@class">
    <div class="project-room__description @@class-description"
         data-link="@@data-link">
        @@room-description
        <div class="project-room__container @@class-container">
            <h3 class="project-room__title-room @@class-title">
                @@title-room
            </h3>
            <button type="button" class="discover-btn discover-btn_white project-room-btn">
     Discover more</button>

        </div>
    </div>

    @@picture
</div>