@use '../../utils/variables.scss';
@use '../../utils/mixins' as *;


.news-hero {
    max-width: 1440px;
    margin: 0 auto;
        @include respond-to(md) {
            max-width: 1024px;
        }
        @include respond-to(sm) {
            max-width: 768px;
        }
        @include respond-to(xs) {
            max-width: 375px;
        }
    &__wrapper {
        padding: 211px 64px 140px;

            @include respond-to(md) {
                padding: 162px 56px 124px;
            }
            @include respond-to(sm) {
                padding: 138px 48px 104px;

            }
            @include respond-to(xs) {
                padding: 117px 24px 80px;

            }
    }


    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 133px;
        margin-bottom: 121px;
            @include respond-to(md) {
            padding-left: 102px;
            max-width: 440px;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 105px;
            }
            @include respond-to(sm) {
                margin-bottom: 98px;
                padding-left: 77px;
            }
            @include respond-to(xs) {
                padding-left: 20px;
            }
            @include respond-to(xs) {
                padding-left: 0px;
                margin-bottom: 79px;
            }
            &-title {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            font-size: 36px;
                @include respond-to(md) {
                    font-size: 32px;
                    margin-bottom: 25px;
                }
                @include respond-to(xs) {
                    display: none;
                }
                &.mobile {
                    display: block;
                    font-size: 26px;
                    margin-bottom: 16px;
                    @include respond-from(xs) {
                    display: none;
                    }
                }

            }
            &__filters {
            display: flex;
            flex-direction: row;
            gap: 32px;
            max-height: 14px;
            margin-left: auto;
            margin-right: 135px;
                @include respond-to(md) {
                    gap: 26px;
                    margin-left: 1px;
                    margin-right: 0;
                }
                @include respond-to(sm) {
                    gap: 28px;
                    margin-left: 0px;
                }
                @include respond-to(xs) {
                flex-direction: column;
                align-items: flex-start;
                display: block; 
                    &-btn {
                    display: none;
                    }
                }

                &-btn {
                position: relative;
                background-color: transparent;
                font-family: variables.$font-family-main;
                font-weight: variables.$font-weight-semibold;
                font-size: 11px;
                letter-spacing: 0.06em;
                cursor: pointer;
                color: #828282;
                    @include respond-to(xs) {
                        display: none;
                    }
                }
                .active {
                    color: variables.$color-main-black;
                }
                .active::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #3A3E4B;
                position: absolute;
                bottom: -2px;
                left: 0;
                }

                &-select-wrapper {
                    position: relative;
                    display: none;
                    width: 129px;

                    @include respond-to(xs) {
                    display: block;
                    }

                    &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    transform: translateY(-50%) rotate(45deg);
                    top: 45%;
                    right: 14px;
                    pointer-events: none;
                    }
                }
                &-select {
                display: none;
                padding: 6px 12px;
                font-family: variables.$font-family-main;
                font-weight: variables.$font-weight-semibold;
                font-size: 11px;
                letter-spacing: 0.06em;
                border: 1px solid #C4C4C4;
                border-radius: 999px;
                background-color: white;
                color: #333;
                appearance: none;
                cursor: pointer;
                width: 129px;
                    @include respond-to(xs) {
                    display: block;
                    }
                }
            }

    }


    &__news {
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 96px;
            @include respond-to(md) {
                gap: 6px;
                margin-bottom: 63px;
            }
            @include respond-to(sm) {
                margin-bottom: 55px;
            }
            @include respond-to(xs) {
                flex-direction: column;
                gap: 5px;
                margin-bottom: 46px;
            }
    }

    &-container-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
        @include respond-to(md) {
        grid-template-columns: 50.2% 49.8%;
        }
        @include respond-to(sm) {
        grid-template-columns: 50.4% 49.6%;
        }
        @include respond-to(xs) {
        grid-template-columns: 1fr;
            .news-hero__content {
            order: 2;
            }

            .news-hero__news-image {
            order: 1;
            }
        }
        &.reverse {
            grid-template-columns: 50% 50%;
                @include respond-to(sm) {
                    grid-template-columns: 49.6% 50.4%;
                }
                @include respond-to(xs) {
                    grid-template-columns: 1fr;
                }
        }
    }

    &-container-single {
        display: block;
        width: calc(50% - 4px);
            @include respond-to(md) {
                width: calc(50% - 3px);
            }
            @include respond-to(xs) {
                width: 100%;
            }
    }
    }


    &__content {
        background-color: #F2F2F2;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include respond-to(xs) {
            flex: 1;
        }
            &.mobile {
                .news-hero__content-wrapper {
                    margin-bottom: 56px;
                    margin-left: 56px;
                    @include respond-to(md) {
                    margin-bottom: 47px;
                    margin-left: 47px;
                    }
                    @include respond-to(sm) {
                    margin-bottom: 34px;
                    margin-left: 32px;
                    }
                    @include respond-to(xs) {
                    margin-bottom: 27px;
                    margin-left: 24px;
                    }
                }
            }
        &-wrapper {
            margin-top: auto;
            margin-bottom: 57px;
            margin-left: 56px;
                @include respond-to(md) {
                margin-bottom: 44px;
                margin-left: 46px;
                }
                @include respond-to(sm) {
                margin-bottom: 34px;
                margin-left: 32px;
                }
                @include respond-to(xs) {
                margin-top: 25px;
                margin-left: 23px;
                margin-bottom: 26px;
                }
        }
        &-title {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            font-size: 28px;
            max-width: 365px;
            margin-bottom: 24px;
                @include respond-to(md) {
                    font-size: 20px;
                    max-width: 273px;
                }
                @include respond-to(sm) {
                    font-size: 16px;
                    max-width: 208px;
                    margin-bottom: 35px;
                }
                @include respond-to(xs) {
                    max-width: 279px;
                    margin-bottom: 30px;
                }
                &.mobile {
                    @include respond-to(md) {
                        margin-bottom: 35px;
                    }
                    @include respond-to(xs) {
                        margin-bottom: 30px;
                    }
                }

        }
        &-phrase {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-light;
            font-size: 14px;
            line-height: 1.71em;
            max-width: 433px;
            margin-bottom: 50px;
                @include respond-to(md) {
                    max-width: 348px;
                    margin-bottom: 36px;
                }

            &.mobile {
                @include respond-to(md) {
                    display: none;
                }
            }

            &.tabletop {
                @include respond-to(sm) {
                    display: none;
                }
            }
        }
    }

    &__project-room__phrase {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 10px;
            line-height: 1.71em;
            color: variables.$color-main-white;
            padding: 32px;
                @include respond-to(sm) {
                    padding: 24px;
                }
    }

    &__project-room__container {
        padding-left: 56px;
        padding-bottom: 56px;
            @include respond-to(md) {
                padding-left: 46px;
                padding-bottom: 46px;
            }
            @include respond-to(sm) {
                padding-left: 32px;
                padding-bottom: 32px;
            }
            @include respond-to(xs) {
                padding-left: 24px;
                padding-bottom: 24px;
            }
    }

    &__project-room__title-room {
        font-size: 28px;  
        font-family: variables.$font-family-main;
        color: variables.$color-main-white;
        font-weight: variables.$font-weight-bold;
        line-height: 1.27em;
            @include respond-to(md) {
                font-size: 20px;
            }
            @include respond-to(sm) {
                font-size: 16px;
            }
    }
    &__pagination {
        display: flex;
        flex-direction: row;
        max-height: 14px;
        max-width: 240px;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
            @include respond-to(md) {
            }
            @include respond-to(sm) {
                gap: 25px;
            }
            @include respond-to(xs) {
                gap: 25px;
                width: 217px;
            }
        &__pages-container {
            display: flex;
            flex-direction: row;
            gap: 21px;
            cursor: pointer;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 11px;
            letter-spacing: 0.06em;
                @include respond-to(sm) {
                    gap: 19px;
                }
        }

        &__icon {
            fill: none;
            cursor: pointer;
              &.left {
                transform: rotate(-180deg);
                }
        }
    }

    &__news-image img {
    width: 100%;
    height: 100%;
    display: block;
    }
}

.project-room {
    cursor: pointer;
}

.news-hero__news-container-single,
.news-hero__news-container-double {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(50px) scale(0.95);
  transition: 
    opacity 0.3s ease-out, 
    transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    max-height 0.3s ease-out;
}

.news-hero__news-container-single.show,
.news-hero__news-container-double.show {
  opacity: 1;
  max-height: 1000px;
  transform: translateY(0) scale(1);
}
