@use '../../utils/variables.scss';
@use '../../utils/mixins' as *;

.hero {


    &__wrapper {
            height: 744px;
            position: relative;
            @include respond-to(md) {
                height: 710px;
            }

            @include respond-to(sm) {
                height: 959px;
            }
            @include respond-to(xs) {
                // height: 542px;
                height: 100%;
            }
    }

    &__swiper-slide {
        img {
            height: 744px;
            width: 100%;
        }
        @include respond-to(md) {
            img {
                height: 705px;
            }    
        }
        @include respond-to(sm) {
            img {
                height: 959px;
            }
        }
            @include respond-to(xs) {
        img {
            // height: 542px;
            height: 100vh;
        }
        }
    }

    &__title {

        position: absolute;
        bottom: 277px;
        left: 263px;
        z-index: 2;
        max-width: 563px;


        @include respond-to(md) {
            bottom: 276px;
            left: 159px;
            }

        @include respond-to(sm) {
            bottom: 373px;
            left: 124px;
        }
        @include respond-to(xs) {
            bottom: unset;
            left: 24px;
            top: 220px;
        }

            &-phrase {
            font-size: 56px;
            color: variables.$color-main-white;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            margin-bottom: 33px;

            @include respond-to(md) {
                font-size: 48px;
                max-width: 440px;
                margin-bottom: 22px;
            }

            @include respond-to(sm) {
                font-size: 44px;
                max-width: 261px;
                margin-bottom: 22px;
            }
                @include respond-to(xs) {
                font-size: 40px;
                max-width: 285px;
                line-height: 0.98em;
                margin-bottom: 28px;
            }


        }

    }


    &__phrase {
        position: absolute;
        right: 64px;
        bottom: 39px;
        z-index: 3;
        transform: rotate(-90deg);

        @include respond-to(md) {
        right: 33px;
        bottom: 53px;
            }

        @include respond-to(sm) {
        right: -123px;
        bottom: 183px;
            }
        @include respond-to(xsm) {
            bottom: 190px;
        }
        @include respond-to(xs) {
        right: -70px;
        bottom: 120px;
        }
        
        &-small {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            letter-spacing: 0.06em;
            font-size: 11px;
            color: variables.$color-main-white;
            margin-bottom: 8px;

            @include respond-to(sm) {
                margin-left: 2px;
            }
            @include respond-to(xs) {
                display: none;
            }
        }

        &-big {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            letter-spacing: 0.04em;
            font-size: 48px;
            color: transparent; 
            -webkit-text-stroke: 1px white; 
            line-height: 0.98;
            max-width: 93px;
                @include respond-to(md) {
                font-size: 32px;
                }
                @include respond-to(sm) {
                max-width: none;
                }
                @include respond-to(xs) {
                font-size: 18px;
                line-height: 0.96em;
                letter-spacing: 0.04em;
                color: white;
                }
        }


    }
    
}