@font-face {
  font-family: 'adieu';
  font-display: swap;
  src: url("../../fonts/adieu-regular-slanted.woff2") format("woff2"),
       url("../../fonts/adieu-regular-slanted.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freight';
  font-display: swap;
  src: url("../../fonts/Freight-Big-Light-Italic.woff2") format("woff2"),
       url("../../fonts/Freight-Big-Light-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
